body {
    font: 13px sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.x.axis line {
    stroke: lightgrey;
}

.x.axis path {
    display: none;
}

.hover-line {
    stroke: #6E7B8B;
}

.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
}

.bordered {
    padding: 2px;
    border-style: solid;
    border-width: 1px;
    border-color: #cccccc;
}

.navbar .tab-content {
    margin-top: 51px;
    border-top: solid 1px #C8C6D2;
}

label {
    font-weight: 500;
}

.nav>li>label {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin: 0px;
    color: #337ab7;
    text-decoration: none;
}

.nav>li>label:hover {
    text-decoration: none;
    background-color: #eee;
}

.sidebar .nav-second-level li label {
    padding-left: 30px;
}

.nav>li>label.title {
    color: #5e5e5e;
    text-align: center;
}

.nav>li>label.title:hover {
    text-decoration: none;
}


/*notifier*/

table,
th,
td {
    border: 1px solid grey;
    border-collapse: collapse;
    padding: 5px;
}

table tr:nth-child(odd) {
    background-color: #f1f1f1;
}

table tr:nth-child(even) {
    background-color: #ffffff;
}

.input-group {
    width: 100%;
}

.input-group-addon {
    width: 80px;
}
