<!-- <div ng-controller="CMonController">
    <div ng-include="'views/home.navbar.html'"></div>
</div> -->
<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <!-- <a class="navbar-brand" href="#" ng-click="activeTab=0">DST Tracker v0.1</a>
        <a class="navbar-brand" href="#" ng-click="activeTab=1">Notification</a> -->
        <a class="navbar-brand" href="#" ui-sref="home.tracker">DST Tracker v0.1</a>
        <a class="navbar-brand" href="#" ui-sref="home.notifier">Notification</a>
        <a class="navbar-brand" href="#" ui-sref="home.grettingPopup">Gretting Popup</a>
        <a class="navbar-brand" href="#" ui-sref="home.banner">Banner</a>
    </div>
    <!-- /.navbar-header -->
    <!-- <ng-include src="views/home.header.html"></ng-include> -->
    <div class="tab-content">
        <div ui-view></div>
    </div>
</nav>
