<div class="row panel-body">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-bar-chart-o fa-fw"></i> Target: <b>{{target.selectedApp}}</b>
                <a href ng-click="getGP()">
                    <i ng-class="inloading ? 'fa fa-refresh fa-spin fa-fw' :'fa fa-refresh fa-fw'"></i> load from db</a>
                <!-- or
                <a href ng-click="uploadPendingMessage()">
                    <i class="fa fa-upload" aria-hidden="true"></i> upload .csv</a> -->
                <div class="pull-right">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            {{target.selectedApp}}
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu pull-right" role="menu">
                            <!-- <li ng-repeat-start="group in target.groups"><a href ng-click="target.selectedGroup = $index; target.selectedApp = -1"><b>{{group.groupname}}</b></a></li> -->
                            <li ng-repeat="app in target.apps"><a href ng-click="setSelectedApp(app)">{{app}}</a></li>
                            <!-- <li ng-repeat-end role="separator" class="divider"></li> -->
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel-heading form-group">
                <label>Advanced query</label>
                <button ng-click="query(queryCommand, querySelect, queryLimit)"><i class="fa fa-play" aria-hidden="true"></i></button>
                <div class="input-group">
                    <span class="input-group-addon">Query</span>
                    <textarea class="form-control code" rows="1" id="command" ng-model='queryCommand'></textarea>
                </div>
                <div class="input-group">
                    <span class="input-group-addon">Select</span>
                    <textarea class="form-control code" rows="1" ng-model='querySelect'></textarea>
                </div>
                <div class="input-group">
                    <span class="input-group-addon">Limit</span>
                    <textarea class="form-control code" rows="1" ng-model='queryLimit'></textarea>
                </div>
                <div class="input-group">
                    <span class="input-group-addon">TestUser</span>
                    <textarea class="form-control code" rows="1" ng-model='queryTestUser'></textarea>
                </div>
            </div>
            <div class="panel-body">
                <table class="tbbanner">
                </table>
                <br>
                <button type="button" class="btn btn-danger pull-right" ng-click="createGP()">Add</button>
            </div>
        </div>
        <!--
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-bar-chart-o fa-fw"></i> Last sent messages (top last {{sentnotifications.length}} mgs)
                <a href ng-click="loadLastSentMsg()">
                    <i ng-class="viewangle.loading ? 'fa fa-refresh fa-spin fa-fw' :'fa fa-refresh fa-fw'"></i> refresh from db</a>
            </div>
            <div class="panel-body">
                
            </div>
        </div>
        -->
    </div>
</div>
